// Colors
$white: #F0F0F0;
$lightgrey: #E0E0E1;
$grey: #979799;
$drakgrey: #47484B;
$black: #38393D;
$blue: #3FADF2;


// Font Variable
$extra-large: 64px;
$large: 52px;
$large-medium: 48px;
$large-small: 32px;
$medium-large: 24px;
$medium-small: 22px;
$medium-font: 20px;
$normal-large: 18px;
$normal-font: 16px;
$small: 14px;
$extra-small: 12px;

// Font Weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bold-black: 900;
