footer {
  background-color: $lightgrey;

  .wrapper {
    width: 92.5%;

    @at-root {

      .top-footer {
        padding: 38px 0 30px;
        border-bottom: 2px solid lighten($grey, 15%);
        @include flexbox (flex);

        @at-root .footer-logos {
          width: 22.2%;
          padding: 10px 55px 10px 0;
          border-right: 2px solid lighten($grey, 15%);

         @include flexbox (flex, center, $direction:column, $justify:center);

         span {
          padding: 20px 0;
          display: block;
          color: $black;
          font-size: $small;
          font-weight: $bold;
         }
        }

        @at-root .menu-links {
          width: 29.5%;
          padding: 0 65px;
          border-right: 2px solid lighten($grey, 15%);

          @at-root .menu-list {
            @include flexbox (flex);
            flex-wrap: wrap;

            .list {
              width: 50%;
              a {
                padding: 10px 0;
                color: $darkgrey;
                font-size: $small;

                &:hover {
                  color: $blue;
                }
              }

              &.active {
                a {
                    color: $blue;
                }
              }
            }

          }
          
        }

        @at-root .footer-social-block {
          width: 22.8%;
          padding: 0 70px;
          border-right: 2px solid lighten($grey, 15%);

          h4 {
            color: $darkgrey;
            font-weight: $semi-bold;
            text-transform: capitalize;
          }

          @at-root .footer-social-icons {
            margin-top: 10px;
            @include flexbox (flex, $direction:column);

              .icon {
                a {
                  padding: 5px 0;
                  @include flexbox (flex, center);
                  color: $darkgrey;
                  font-size: $small;
                  text-transform: capitalize;

                  &::before {
                    width: 26px;
                    height: 26px;
                    border: 1px solid $grey;
                    border-radius: 50%;
                    margin-right: 18px;
                    @include flexbox (flex, center, $justify:center);
                    float: left;
                    @include icons ('', $grey, 15px);
                  }
                }
              }
              @include icons-content ($social-icons);

          }
        }

        @at-root .contact-block {
          width: 25%;
          padding: 0 0 0 70px ;

          h4 {
            color: $darkgrey;
            font-weight: $semi-bold;
            text-transform: capitalize;
          }

          p {
            padding: 16px 0 8px;
            color: $grey;
            font-size: $small;
            line-height: 1.6;
          }

          a {
            color: $darkgrey;
            font-size: $small;
            @include flexbox (flex, center);

            &::before {
              content: "\f0e0";
              width: 26px;
              height: 26px;
              border: 1px solid $grey;
              border-radius: 50%;
              margin-right: 18px;
              @include flexbox (flex, center, $justify:center);
              float: left;
              font-family: "FontAwesome";
              color: $grey;
            }
          }
        }
      }
  
      .bottom-footer {
        padding: 30px 0;
        @include flexbox (flex, center, $justify:space-between);

        @at-root .terms-privacy {
         @include flexbox (flex, center);

          .list {
            margin-right: 30px;
            a {
              color: $darkgrey;
              font-size: $extra-small;

              &:hover {
                color: $blue;
              }
            }
          }
        }
  
        @at-root .copyright-para {
          color: $darkgrey;
          font-size: $extra-small;
        }
      }
    }
  }

}