/* Banner CSS Start */
.banner-section {
  .wrapper {
    width: 100%;
    @include display-flex ();

    @at-root {
      .banner-sliders {
        width: 77%;

        .slider {
          position: relative;

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, .3);
          }

          figure {
            position: relative;

            &::before {
              content: "\f04b";
              width: 88px;
              height: 88px;
              border: 2px solid $white;
              border-radius: 50%;
              @include flexbox (flex, center, $justify:center);
              @include positions (absolute, 1, $top:42.5%, $left:45.8%);
              color: $white;
              cursor: pointer;
              font-family: "FontAwesome";
              font-size: $large-small;
              @include transform (translate (-50%, -50%))
            }
          }
        }

        @at-root .banner-content {
          width: 100%;
          height: 100%;
          padding: 80px 40px 40px 75px;
          @include positions (absolute, $top:0, $left:0);

          h2 {
            color: $white;
            font-size: $extra-large;
            font-weight: $bold;
          }

          p {
            padding: 35px 0;
            color: $white;
            max-width: 380px;
            width: 100%;
            font-size: 20px;
            line-height: 1.6;
          }
        }

        @at-root .banner-social-icons {
          @include flexbox (flex, center);
          @include positions (absolute, $bottom:10%, $right:4%);

          span {
            margin-right: 20px;
            color: $white;
            font-size: $normal-large;
          }

          @at-root .banner-icons {
            @include flexbox (flex, center);

            .icon {
              margin-right: 16px;

              a {
                text-indent: -99999px;

                &::before {
                  width: 26px;
                  height: 26px;
                  border: 1px solid $white;
                  border-radius: 50%;
                  @include flexbox (flex, center, $justify:center);
                  float: left;
                  @include icons ('', $white, 15px);
                  text-indent: 0;
                }
              }

              &:last-child {
                margin-right: 0;
              }
            }

            @include icons-content ($banner-icons);
          }
        }
      }

      .aside-container {
        width: 23%;
        background-color: $darkgrey;

        @at-root {
          .aside-sliders {
            max-height: 583px;
            width: 100%;
            padding: 14px;
            @include flexbox (flex, center, $direction:column);
            overflow-y: scroll;

            .slider {
              margin-bottom: 14px;
              cursor: pointer;

              figure {
                position: relative;

                &::before {
                  content: "\f04b";
                  width: 56px;
                  height: 56px;
                  border: 2px solid $white;
                  border-radius: 50%;
                  @include flexbox (flex, center, $justify:center);
                  @include positions (absolute, $top:30%, $left:40%);
                  color: $white;
                  font-family: "FontAwesome";
                  font-size: $large-small;
                  @include transform (translate (-50%, -50%));
                }

                &::before {
                  display: none;
                }
              }

              &:hover {
                figure {
                  &::before {
                    display: flex;
                  }
                }
              }
            }

          }
          .slider-btn {
            display: none;
          }
        }
      }
    }
  }
}

/* Banner CSS End */